p.curso{
    font-size: 1.2rem;
    font-weight: bold;
    color: #0d6efd;
}

.cadastrar{
    float: right;
    margin-top: 20px;
}
label{
    font-weight: 500;
}

.col{
    margin-top: 15px;
}

.selecao{
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: left;
    border-radius: 0;
    transition: .5s;
    font-size: 1.5rem;
}

.selecao:hover{
    background-color: #f2f2f2;
    color: inherit;
}

.opcoes option{
    margin-top: 1rem;
}

@media(max-width: 768px){
   .row{
    flex-direction: column;
   }
   .col{
    margin-top: 15px;
   }
   form{
    display: flex;
    flex-direction: column;
   }
   .cadastrar{
    margin-top: 20px;
   }
   .selecao, .selecao:hover{
    width: 95%;
}
}