<script src="https://kit.fontawesome.com/cdfedfc4b0.js" crossorigin="anonymous"></script>
<div class="d-grid gap-2">
    <button type="button" class="btn btn-outline-primary selecao" (click)="collapse.toggle()"[attr.aria-expanded]="!isCollapsed"
	aria-controls="collapseExample" (click)="getCursos()">Cursos</button> <!-- BOTÃO EXIBE/ESCONDE A EDIÇÃO DOS CURSOS -->

    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="card">
            <div class="card-body">
                <div *ngIf="cursos.length == 0">Não há cursos cadastrados.</div> <!-- CONDIÇÃO PARA MENSAGEM "SEM CURSOS CADASTRADOS" -->
                <div *ngIf="cursos.length > 0" class="tabela"> <!-- ENTRA NA EDIÇÃO -->
                    <table>
                        <thead>
                            <tr> <!-- TABELA DE CURSOS EXISTENTES -->
                              <th scope="col" class="cabeca cabecaesq">ID</th>
                              <th scope="col" class="cabeca">Curso</th>
                              <th scope="col" class="cabeca h">Turno</th>
                              <th scope="col" class="cabeca h">Versão</th>
                              <th scope="col" class="cabeca h">Conceito MEC</th>
                              <th scope="col" class="cabeca h">Universidade</th>
                              <th scope="col" class="cabeca cabecadir">Ação</th>
                            </tr>
                          </thead>
                          <tbody> 
                            <tr *ngFor="let curso of cursos" class="info">
                              <th scope="row" class="info">{{ curso.cursoId }}</th>
                              <td class="info">{{ curso.nome_curso }}</td>
                              <td class="info h">{{ curso.turno_curso }}</td>
                              <td class="info h">{{ curso.versao_curso }}</td>
                              <td class="info h">{{ curso.conceito_mec }}</td>
                              <td class="info h">{{ curso.nome_unidade }}</td>
                              <td class="info"><div class="botoes"> <!-- BOTÕES EDITAR / REMOVER -->
                                <button class="btn btn btn-warning" ngbTooltip="Editar Dados"
                                (click)="openModal(editar)" 
                                (click)="editCurso(curso)"
                                (click)="collapse.toggle()"[attr.aria-expanded]="isCollapsed"
	                              aria-controls="collapseExample"><span class="icone">&#9998;</span><span class="texto">Editar</span></button>
                                <button class="btn btn-danger" 
                                (click)="deleteCurso(curso)" ngbTooltip="Excluir Curso"><span class="icone">&#88;</span><span class="texto">Excluir</span></button></div>
                              </td>  
                            </tr>     
                          </tbody>
                    </table>

                    <!-- MODAL DA EDIÇÃO -->

                    <ng-template #editar>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">Editar Curso</h4>
                          <button type="button" class="btn-close close pull-right" aria-label="Close" 
                          (click)="modalRef?.hide()"
                          (click)="collapse.toggle()"[attr.aria-expanded]="!isCollapsed"
                          aria-controls="collapseExample">
                          <span aria-hidden="true" class="visually-hidden">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body"> <!-- Formulário de Edição dos Dados -->
                        <p class="tituloEdita">Editar Dados do Curso</p>
                        <form method="post" (ngSubmit)="vcurso.form.valid && updateCurso(curso)" #vcurso="ngForm" novalidate> 
                          <div class="form-group">  
                              <div class="row">
                                  <div class="col">
                                      <label for="nome_curso">Nome</label>                
                                      <input type="text" id="nome_curso" name="nome_curso" class="form-control" required [(ngModel)]="curso.nome_curso"  #nome="ngModel"
                                      placeholder="Ex: Administração" [ngClass]="{'is-invalid': nome.invalid}">
                                      <div *ngIf="nome.invalid" class="invalid-feedback">
                                          <div *ngIf="nome.errors">O Nome do curso é obrigatório.</div>
                                      </div>
                                  </div>
                                  <div class="col">
                                      <label for="turno_curso" name="turno_curso">Turno</label>                
                                      <select name="turno_curso" id="turno" class="form-control" required [(ngModel)]="curso.turno_curso">
                                          <option value="Matutitno">Matutino</option>
                                          <option value="Vespertino">Vespertino</option>
                                          <option value="Noturno">Noturno</option>
                                      </select>
                                  </div>
                                </div> 
                                <br>
                                <div class="row">
                                  <div class="col">
                                      <label for="versao_curso">Versão</label>                
                                      <input type="number" id="versao_curso" name="versao_curso" maxlength="4" placeholder="Ex: 2007" class="form-control" required [(ngModel)]="curso.versao_curso"
                                      #versao="ngModel" [ngClass]="{'is-invalid': versao.invalid}">
                                      <div *ngIf="versao.invalid" class="invalid-feedback">
                                        <div *ngIf="versao.errors">A Versão do curso é obrigatória.</div>
                                    </div> <br>
                                  </div>
                                  <div class="col">    
                                      <label for="conceito_mec">Conceito MEC</label>                
                                      <input type="number" id="conceito_mec" name="conceito_mec" maxlength="1" placeholder="Ex: 5" class="form-control" required [(ngModel)]="curso.conceito_mec"
                                      #cMec="ngModel" [ngClass]="{'is-invalid': cMec.invalid}">
                                      <div *ngIf="cMec.invalid" class="invalid-feedback">
                                        <div *ngIf="cMec.errors">O Conceito do MEC obrigatório.</div>
                                    </div>
                                  </div>    
                                </div>
                              <div class="row">
                                  <div class="col">
                                      <label for="nome_curso">Nome da Unidade de Ensino</label>                
                                      <input type="text" id="nome_unidade" name="nome_unidade" placeholder="Ex: UFSM" class="form-control" required [(ngModel)]="curso.nome_unidade"
                                      #unidade="ngModel" [ngClass]="{'is-invalid': unidade.invalid}">
                                      <div *ngIf="unidade.invalid" class="invalid-feedback">
                                        <div *ngIf="unidade.errors">O Conceito do MEC obrigatório.</div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <br>
                          <div class="salvar">
                            <button type="submit" class="btn btn-success btn-lg"
                            (click)="getCursos()" 
                            [disabled]="!vcurso.valid"
                            (click)="modalRef?.hide()">Salvar</button>
                            <button type="submit" class="btn btn-warning btn-lg" (click)="collapse.toggle()"[attr.aria-expanded]="subCollapsed"
                            aria-controls="collapseExample" (click)="modalRef?.hide()">Cancelar</button>                   
                          </div>  
                        </form>
                      </div>
                    </ng-template> 
                </div>
            </div>
        </div>
    </div>
</div>
