#corpo{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 20px;
}

.anima {
    -webkit-animation: fadeinout 4.8s linear forwards;
    animation: fadeinout 4.8s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}